.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Assistant', sans-serif;
}

.img{
    margin-top: 30px;
}

.title{
    margin-top: 100px;
    color: #946AB3;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Assistant', sans-serif;
}

.buttons_container{
    margin-top: 50px;
    gap: 70px;
    display: flex;
    flex-direction: row;
    direction: rtl;
}

.btn{
    color: #946AB3;
    font-weight: 600;
    font-size: 32px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    width: 400px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    cursor: pointer;
    font-family: 'Assistant', sans-serif;
}
.btn:hover{
    background-color: rgba(243, 242, 247, 0.478);
    color: #764797;
}

.selected {
    border: 3px solid #946AB3
}

.your_subject_container{
    margin-top: 50px;
    border-top: 1.5px solid #946AB3;
    width: 850px;
    direction: rtl;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.your_subject_container label{
    color: #621E8A;
    font-size: 24px;
    margin-top: 50px;
    margin-right: 30px;
}
.your_subject_container input{
    color: #621E8A;
    font-size: 24px;
    margin-top: 40px;
    border-radius: 15px;
    padding: 12px;
    border: 2px solid rgba(197, 197, 197, 0.327);
    width: 400px;
    font-family: 'Assistant', sans-serif;
}

.error{
    border: 2px solid red;
}

.underBtn{
    position: absolute;
    bottom: 0px;
    width: 100%;
}