.container{
    border-radius: 30px;
    padding: 25px;
    color: #6a6a6ac7;
    font-size: 21px;
    font-family: 'Assistant', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
    border: 2px solid rgba(182, 182, 182, 0.284);
    resize:none;
    height: auto;
    overflow: hidden; 
    width: 900px;
}