.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Assistant', sans-serif;
}

.img{
    margin-top: 30px;
}

.title{
    margin-top: 50px;
    color: #946AB3;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Assistant', sans-serif;
}

.options_label{
    color: #621E8A;
    font-size: 24px;
    direction: rtl;
    margin-right: 20px;
}

.buttons_container{
    margin-top: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    direction: rtl;
}

.row2{
    margin-top: -10px;
}

.btn{
    color: #946AB3;
    font-weight: 600;
    font-size: 32px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    width: 200px;
    height: 150px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    cursor: pointer;
    font-family: 'Assistant', sans-serif;
    margin: 5px;
}
.btn:hover{
    background-color: rgba(243, 242, 247, 0.478);
    color: #764797;
}

.more_option_btn{
    margin-top: 5px;
    color: gray;
    border: none;
    padding: 20px;
    width: 300px;
    font-weight: 600;
    font-size: 28px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: white;
    font-family: 'Assistant', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.selected {
    border: 3px solid #946AB3
}

.underBtn{
    position: absolute;
    bottom: 0px;
    width: 100%;
}