.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.img{
    margin-top: 120px;
    margin-bottom: 20px;
}

.title{
    color: #946AB3;
    font-weight: 500;
    font-size: 38px;
    margin-right: 10px;
    font-family: 'Rubik', sans-serif;
}

.top_container_buttons{
    direction: rtl;
    margin-top: 60px;
}

.buttons_container{
    margin-top: 20px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: right;
}

.btn{
    color: #946AB3;
    font-weight: 400;
    font-size: 32px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    width: 350px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}
.btn:hover{
    background-color: rgba(243, 242, 247, 0.478);
    color: #764797;
}

.more_option_btn{
    margin-top: 25px;
    color: gray;
    border: none;
    padding: 20px;
    width: 300px;
    font-weight: 400;
    font-size: 28px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.more_option_btn div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.more_option_btn_label{
    cursor: pointer;
}
.generateAgain_icon_loading{
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.selected {
    border: 3px solid #946AB3
}

.selected {
    border: 3px solid #946AB3
}

.underBtn{
    position: absolute;
    bottom: 0px;
    width: 100%;
}