.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Assistant', sans-serif;
}

.img{
    margin-top: 120px;
}

.container_data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    direction: rtl;
    position: relative;
    width: 100%;
    margin-top: 20px;
    gap: 200px;
}

.paint_img{
    position: absolute;
    left: 0;
    top: 5%;
    width: 300px;
    height: 500px;
}

.input_container{
    display: flex;
    flex-direction: column;
    margin-left: 500px;
}
.input_container label{
    color: #621E8A;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Assistant', sans-serif;
    margin-right: 20px;
    margin-top: 30px;
}
.input_container input{
    color: #3c3c3c;
    font-size: 24px;
    font-family: 'Assistant', sans-serif;
    border-radius: 15px;
    border: 2px solid rgba(209, 209, 209, 0.371);
    padding: 10px;
    margin: 10px;
    width: 500px;
}
.input_container input::placeholder{
    color: rgb(197, 197, 197);
}

.textarea_container {
    border: 2px solid rgba(209, 209, 209, 0.371);
    border-radius: 15px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.textarea_container:focus-within {
    border: none;
}

.generate_icon{
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #946AB3;
}
.generate_icon_loading{
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #946AB3;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.description_textarea{
    color: #3c3c3c;
    font-size: 24px;
    font-family: 'Assistant', sans-serif;
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 500px;
    height: 120px;
    resize:none;
}
.description_textarea::placeholder{
    color: rgb(197, 197, 197);
}
.description_textarea:focus-within {
    border: 2px solid rgba(209, 209, 209, 0.371);
}

.create_img_container{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.createPaint_btn{
    margin-right: 30px;    
    margin-top: 30px;
    background-color: #946AB3;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 35px;
    border: none;
    gap: 20px;
    padding: 20px;
    height: 50px;
    cursor: pointer;
}
.createPaint_btn label{
    color: white;
    font-family: 'Assistant', sans-serif;
    margin-bottom: 30px;
    cursor: pointer;
}
@keyframes magic {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.2) rotate(180deg);
    }
    100% {
      transform: scale(1) rotate(360deg);
    }
  }
  
  .magic_icon {
    margin-left: 15px;
  }
  .magic_icon_animation {
    margin-left: 15px;
    animation: magic 2s infinite ease-in-out;
  }
  

.underBtn{
    position: absolute;
    bottom: 0px;
    width: 100%;
}